@page "/searchpage"
@model JanuaryTask.Pages.Shared.SearchPageModel
@{
}
    <h3>Найдется все </h3>

<form method="post">
    <input type="text" name="request" style="width:500px !important" />
    <input type="submit" value="Найти" />
</form>